CorePlus/CorePlus.WeiXin.Service/Service References/SocketService/SocketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMessageToP2PServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:SocketP2PMessageEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SocketP2PMessageEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseSocketMessageEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Identity" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MsgType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DialogId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OpenId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WeiXinNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseSocketMessageEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessageToP2PServerResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageToP2PServerSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageToP2PServer" />
  </wsdl:message>
  <wsdl:message name="SendMessageToP2PServerSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageToP2PServerResponse" />
  </wsdl:message>
  <wsdl:portType name="SocketServiceSoap">
    <wsdl:operation name="SendMessageToP2PServer">
      <wsdl:input message="tns:SendMessageToP2PServerSoapIn" />
      <wsdl:output message="tns:SendMessageToP2PServerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SocketServiceSoap" type="tns:SocketServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageToP2PServer">
      <soap:operation soapAction="http://tempuri.org/SendMessageToP2PServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocketServiceSoap12" type="tns:SocketServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageToP2PServer">
      <soap12:operation soapAction="http://tempuri.org/SendMessageToP2PServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SocketService">
    <wsdl:port name="SocketServiceSoap" binding="tns:SocketServiceSoap">
      <soap:address location="http://localhost:2001/Service/SocketService.asmx" />
    </wsdl:port>
    <wsdl:port name="SocketServiceSoap12" binding="tns:SocketServiceSoap12">
      <soap12:address location="http://localhost:2001/Service/SocketService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>