CorePlus/CorePlus.API/Service References/BaiduAPI_V2_AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v2" xmlns:common="http://api.baidu.com/sem/common/v2" name="AccountService" targetNamespace="https://api.baidu.com/sem/sms/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/sms/v2">
      <xsd:import schemaLocation="https://api.baidu.com/sem/sms/v2/AccountService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="AccountInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="userid" type="xsd:long" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="cost" type="xsd:double" />
          <xsd:element minOccurs="0" name="payment" type="xsd:double" />
          <xsd:element minOccurs="0" name="budget" type="xsd:double" />
          <xsd:element minOccurs="0" name="type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionTarget" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="excludeIp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="openDomains" type="xsd:string" />
          <xsd:element minOccurs="0" ref="common:opt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="type" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedCampaignIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="campaignId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="campaignLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="adgroupLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="itemLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="newCreativeLevel" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignIds" type="tns:ChangedCampaignIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedAdgroupIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="campaignId" type="xsd:long" />
          <xsd:element name="adgroupId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedAdgroupIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="adgroupLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="itemLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="newCreativeLevel" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedAdgroupIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupIds" type="tns:ChangedAdgroupIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedItemType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="adgroupId" type="xsd:long" />
          <xsd:element name="campaignId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedItemIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element name="type" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedItemIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordIds" type="tns:ChangedItemType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeIds" type="tns:ChangedItemType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignIds" type="tns:ChangedCampaignIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupIds" type="tns:ChangedAdgroupIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordIds" type="tns:ChangedItemType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeIds" type="tns:ChangedItemType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="VariableColumn">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAllObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="includeQuality" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="includeTemp" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="variableColumns" type="tns:VariableColumn" />
            <xsd:element minOccurs="0" name="newCreativeFiles" type="xsd:int" />
            <xsd:element minOccurs="0" name="includeTempNewCreatives" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedScaleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="changedCampaignScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedAdgroupScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedKeywordScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedCreativeScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedNewCreativeScales" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedScaleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeScales" type="tns:ChangedNewCreativeScaleType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="adgroupSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="keywordSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="creativeSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="selectedRow" type="tns:VariableColumn" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFileStateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFileStateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="isGenerated" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllObjectsPathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllObjectsPathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="accountFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="campaignFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="campaignFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="adgroupFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="adgroupFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="keywordFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="keywordFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="creativeFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="creativeFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="newCreativeFilePaths" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="newCreativeFileMd5s" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsPathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsPathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="campaignSelectedFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="campaignSelectedFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="adgroupSelectedFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="adgroupSelectedFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="keywordSelectedFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="keywordSelectedFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="creativeSelectedFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="creativeSelectedFileMd5" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="changedCampaignFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedAdgroupFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedKeywordFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedCreativeFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="includeTemp" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="variableColumns" type="tns:VariableColumn" />
            <xsd:element minOccurs="0" name="changedNewCreativeFiles" type="xsd:int" />
            <xsd:element minOccurs="0" name="includeTempChangedNewCreatives" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsPathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsPathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="changedCampaignFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedCampaignFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedAdgroupFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedAdgroupFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedKeywordFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedKeywordFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedCreativeFilePath" type="xsd:string" />
            <xsd:element minOccurs="0" name="changedCreativeFileMd5" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeFilePaths" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeFileMd5s" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gettopNKeywordsDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="startRank" type="xsd:int" />
            <xsd:element minOccurs="0" name="endRank" type="xsd:int" />
            <xsd:element minOccurs="0" name="standardvalue" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="gettopNKeywordsDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="topNkeywordsData" type="tns:TopNkeywordsData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="TopNkeywordsData">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="keywordId" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="keywordCost" type="xsd:float" />
          <xsd:element minOccurs="1" maxOccurs="1" name="keywordACP" type="xsd:float" />
          <xsd:element minOccurs="1" maxOccurs="1" name="keywordClick" type="xsd:float" />
          <xsd:element minOccurs="0" maxOccurs="1" name="keyword" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="isdel" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateAccountBudgetRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="accountBudget" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountBudgetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="effectiveType" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="accountBudget" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountBudgetRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountBudgetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="effectiveType" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="accountBudget" type="xsd:double" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="weeklyBudget" type="xsd:double" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetChangedNewCreativeIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="1" name="type" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="newCreativeType" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedNewCreativeType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="operator" type="xsd:int" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="adgroupId" type="xsd:long" />
          <xsd:element minOccurs="0" name="campaignId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetChangedNewCreativeIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeIds" type="tns:ChangedNewCreativeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedNewCreativeScaleType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeScale" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getChangedScaleResponse">
    <wsdl:part name="parameters" element="tns:getChangedScaleResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedCampaignIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedAdgroupIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedAdgroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountBudgetRequest">
    <wsdl:part name="parameters" element="tns:updateAccountBudgetRequest" />
  </wsdl:message>
  <wsdl:message name="gettopNKeywordsDataResponse">
    <wsdl:part name="parameters" element="tns:gettopNKeywordsDataResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountBudgetResponse">
    <wsdl:part name="parameters" element="tns:getAccountBudgetResponse" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsResponse">
    <wsdl:part name="parameters" element="tns:getAllObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsRequest">
    <wsdl:part name="parameters" element="tns:getAllObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedItemIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedItemIdRequest" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsRequest">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsPathRequest">
    <wsdl:part name="parameters" element="tns:getAllObjectsPathRequest" />
  </wsdl:message>
  <wsdl:message name="gettopNKeywordsDataRequest">
    <wsdl:part name="parameters" element="tns:gettopNKeywordsDataRequest" />
  </wsdl:message>
  <wsdl:message name="getAccountBudgetRequest">
    <wsdl:part name="parameters" element="tns:getAccountBudgetRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="updateAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:updateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsPathResponse">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsPathResponse" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsPathResponse">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsPathResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountBudgetResponse">
    <wsdl:part name="parameters" element="tns:updateAccountBudgetResponse" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsPathResponse">
    <wsdl:part name="parameters" element="tns:getAllObjectsPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangedNewCreativeIdRequest">
    <wsdl:part name="parameters" element="tns:GetChangedNewCreativeIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedIdRequest" />
  </wsdl:message>
  <wsdl:message name="getFileStateResponse">
    <wsdl:part name="parameters" element="tns:getFileStateResponse" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsPathRequest">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsPathRequest" />
  </wsdl:message>
  <wsdl:message name="getFileStateRequest">
    <wsdl:part name="parameters" element="tns:getFileStateRequest" />
  </wsdl:message>
  <wsdl:message name="updateAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:updateAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsResponse">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsResponse">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedAdgroupIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedAdgroupIdRequest" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:getAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsPathRequest">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsPathRequest" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsRequest">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedItemIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetChangedNewCreativeIdResponse">
    <wsdl:part name="parameters" element="tns:GetChangedNewCreativeIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedScaleRequest">
    <wsdl:part name="parameters" element="tns:getChangedScaleRequest" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getAccountInfo">
      <wsdl:input message="tns:getAccountInfoRequest" />
      <wsdl:output message="tns:getAccountInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <wsdl:input message="tns:updateAccountInfoRequest" />
      <wsdl:output message="tns:updateAccountInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCampaignId">
      <wsdl:input message="tns:getChangedCampaignIdRequest" />
      <wsdl:output message="tns:getChangedCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedAdgroupId">
      <wsdl:input message="tns:getChangedAdgroupIdRequest" />
      <wsdl:output message="tns:getChangedAdgroupIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedItemId">
      <wsdl:input message="tns:getChangedItemIdRequest" />
      <wsdl:output message="tns:getChangedItemIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <wsdl:input message="tns:getChangedIdRequest" />
      <wsdl:output message="tns:getChangedIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllObjects">
      <wsdl:input message="tns:getAllObjectsRequest" />
      <wsdl:output message="tns:getAllObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedScale">
      <wsdl:input message="tns:getChangedScaleRequest" />
      <wsdl:output message="tns:getChangedScaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjects">
      <wsdl:input message="tns:getSelectedObjectsRequest" />
      <wsdl:output message="tns:getSelectedObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFileState">
      <wsdl:input message="tns:getFileStateRequest" />
      <wsdl:output message="tns:getFileStateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllObjectsPath">
      <wsdl:input message="tns:getAllObjectsPathRequest" />
      <wsdl:output message="tns:getAllObjectsPathResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjectsPath">
      <wsdl:input message="tns:getSelectedObjectsPathRequest" />
      <wsdl:output message="tns:getSelectedObjectsPathResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjects">
      <wsdl:input message="tns:getAllChangedObjectsRequest" />
      <wsdl:output message="tns:getAllChangedObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjectsPath">
      <wsdl:input message="tns:getAllChangedObjectsPathRequest" />
      <wsdl:output message="tns:getAllChangedObjectsPathResponse" />
    </wsdl:operation>
    <wsdl:operation name="gettopNKeywordsData">
      <wsdl:input message="tns:gettopNKeywordsDataRequest" />
      <wsdl:output message="tns:gettopNKeywordsDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountBudget">
      <wsdl:input message="tns:updateAccountBudgetRequest" />
      <wsdl:output message="tns:updateAccountBudgetResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAccountBudget">
      <wsdl:input message="tns:getAccountBudgetRequest" />
      <wsdl:output message="tns:getAccountBudgetResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedNewCreativeId">
      <wsdl:input message="tns:GetChangedNewCreativeIdRequest" />
      <wsdl:output message="tns:GetChangedNewCreativeIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSOAP" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountInfo">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/updateAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedAdgroupId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedAdgroupId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedItemId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedItemId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAllObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedScale">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedScale" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getSelectedObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFileState">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getFileState" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllObjectsPath">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAllObjectsPath" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjectsPath">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getSelectedObjectsPath" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAllChangedObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjectsPath">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAllChangedObjectsPath" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettopNKeywordsData">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/gettopNKeywordsData" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountBudget">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/updateAccountBudget" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountBudget">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getAccountBudget" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedNewCreativeId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v2/AccountService/getChangedNewCreativeId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountService" binding="tns:AccountServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/sms/v2/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>